@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global customizations */
body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeIn 1s ease-in-out;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
}


